
record(longout, "$(P)EVR:LOG:evt$(N)") {
    field(DTYP, "Bit Table Update")
    field(OUT , "@table=$(NAME) action=17")
    field(DRVH, "255")
    field(VAL , "0")
    field(PINI, "RUNNING")
    field(FLNK, "$(P)EVR:LOG:evt$(N)_")
    info(autosaveFields_pass0, "VAL")
}
record(longout, "$(P)EVR:LOG:evt$(N)_") {
    field(DTYP, "Event Table Set Code")
    field(OUT , "@log=$(P) queue=evt$(N)")
    field(OMSL, "closed_loop")
    field(DOL , "$(P)EVR:LOG:evt$(N)")
}

record(longin, "$(P)EVR:LOG:cnt$(N)") {
    field(DTYP, "Event Table Last")
    field(INP , "@log=$(P) queue=evt$(N)")
    field(SCAN, "I/O Intr")
    field(TSE , "-2")
}
