# depends on record from feed_base.template and perFPGA.template

record("*", "$(P)GLD:IPADDR") {
    info(autosaveFields_pass0, "") # inhibit autosave.  IP managed only through iocsh
}

# XADC temperature as reported through golden image
# same as: FPGA:Temperature reported through application image
record(ai, "$(P)GLD:Temperature") {
    field(SCAN, "2 second")
    field(DTYP, "FEED Register Read")
    field(INP,  "@name=$(P)GLD reg=xadc_internal_temperature")
    field(LINR, "LINEAR")
    field(ESLO, "0.0076885223")
    field(EOFF, "-273.15")
    field(EGU,  "deg C")
}

# monitor $(P)STATUS from feed_base.template
# on * -> 4, attempt auto-boot if requested

record(calcout, "$(P)GLD:onapp") {
    field(INPA, "$(P)APP:STATUS CP MS")
    field(CALC, "A==4")
    field(OOPT, "When Non-zero") # 0 -> 1
    field(OUT , "$(P)GLD:HALT.PROC") # force to error state, stops probing
    field(TPRO, "1")
}

record(calcout, "$(P)GLD:ontmo") {
    field(INPA, "$(P)APP:STATUS CP MS")
    field(CALC, "A==4")
    field(OOPT, "When Zero") # 0 -> 1
    field(OUT , "$(P)GLD:RESET.PROC") # force out of error state, resume probing
    field(TPRO, "1")
}

record(calcout, "$(P)GLD:ongold") {
    field(INPA, "$(P)GLD:STATUS CP MS")
    field(INPB, "$(P)GLD:autoboot CP MS")
    field(CALC, "A==4&&B")
    field(OOPT, "When Non-zero")
    field(OUT , "$(P)GLD:boot.PROC") # golden image active, and auto-boot enabled, go ahead
    field(TPRO, "1")
}

record(calcout, "$(P)GLD:image_") {
    field(INPA, "$(P)APP:STATUS CP")
    field(INPB, "$(P)GLD:STATUS CP")
    field(CALC, "(A==4)<<1 | (B==4)")
    field(OUT , "$(P)GLD:image PP MS")
}
record(mbbi, "$(P)GLD:image") {
    field(DESC, "Active FPGA image")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "None")
    field(ONST, "Gold")
    field(TWST, "Appl")
    field(THST, "Both") # transient?
    field(ZRSV, "MAJOR")
    field(ONSV, "MINOR")
    field(THSV, "INVALID")
}

record(bo, "$(P)GLD:autoboot") {
    field(VAL , "0")
    field(ZNAM, "Manual")
    field(ONAM, "Auto boot")
    info(autosaveFields_pass0, "VAL")
}

record(bo, "$(P)GLD:boot") {
    field(DESC, "Boot to App img")
    field(ZNAM, "Boot")
    field(ONAM, "Boot")
    field(FLNK, "$(P)GLD:boot_")
}

record(longout, "$(P)GLD:boot_") {
    field(DTYP, "Boot to App")
    field(OUT , "@$(IPADDR)")
}
