record(bo, "$(P)FPGA:reboot") {
    field(ZNAM, "Boot")
    field(ONAM, "Boot")
    field(FLNK, "$(P)FPGA:reboot_")
}
record(longout, "$(P)FPGA:reboot_") {
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=FPGA:reboot")
    field(VAL , "100")
}

record(longin, "$(P)MARBLE:onConn_") {
    field(DTYP, "FEED On Connect")
    field(INP, "@name=$(NAME)")
    field(SCAN, "I/O Intr")
    field(FLNK, "$(P)MARBLE:onC_")
}
record(fanout, "$(P)MARBLE:onC_") {
    field(LNK0, "$(P)FPGA:Mode")
    field(LNK1, "$(P)MARBLE:MGTCLK0")
}

# currently static
# TODO: when dynamic, add re-trigger of onConnect chain to recalculate delay/width
record(ai, "$(P)Ref:Freq") {
    field(INP , "125")
    field(PINI, "YES")
    field(EGU , "MHz")
    field(FLNK, "$(P)Ref:T")
    info(autosaveFields_pass0, "VAL")
}
record(calc, "$(P)Ref:T") {
    field(DESC, "Ref clk period")
    field(INPA, "$(P)Ref:Freq")
    field(INPB, "1e6") # MHz -> Hz
    field(CALC, "1/(A*B)")
    field(EGU , "s")
    field(PREC, "3")
    field(FLNK, "$(P)Ref:TN_")
}
record(calc, "$(P)Ref:TN_") {
    field(INPA, "$(P)Ref:T")
    field(INPB, "1e9") # s -> ns
    field(CALC, "A*B")
}

record(mbbo, "$(P)MARBLE:PPS:Local") {
    field(DESC, "local PPS marker source")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=MARBLE:PPS:LOCAL:CSR")
    field(ZRVL, "0")
    field(ZRST, "Hardware")
    field(ONVL, "1")
    field(ONST, "System")
    field(TWVL, "2")
    field(TWST, "VCXO20")
}
# All connections to clock crosspoint switch on Marble (U2)
#
# 0 - Marble Ext 0
# 1 - Marble Ext 1
# 2 - FPGA_REFCLK0: Y1 (25MHz) -> U20 (125MHz)
# 3 - Si570 (Y6)
# 4 - FMC1_GBTCLK0
# 5 - FMC1_GBTCLK1
# 6 - FMC2_GBTCLK0
# 7 - FMC2_GBTCLK1
#
# Connections on clk-input-fmc
#
# FMCx_GBTCLK0 <- CLKout8 <- CLKin1 <- CLK2
# FMCx_GBTCLK1 <- CLKout4 <- CLKin0 <- CLK1
#
# EVG-16-4 chassis.  rf-input-fmc1 in FMC1, LVTTL PMOD in PMOD1 (J12)
#
# FMC1 CLK1 <= CLKIN1
# FMC1 CLK2 <= CLKIN2
#
record(mbbo, "$(P)MARBLE:MGTCLK0") {
    field(DESC, "Set MGTCLK0 source")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=MARBLE:mgtRefClk0")
    field(ZRVL, "2") # FPGA_REFCLK0
    field(ZRST, "Int. 125MHz")
    field(ONVL, "5") # FMC1_GBTCLK1
    field(ONST, "CLKIN1")
    field(TWVL, "4") # FMC1_GBTCLK0
    field(TWST, "CLKIN2")
    field(RVAL, "2") # Int.
    info(autosaveFields_pass0, "RVAL")
}
record(longout, "$(P)MARBLE:VCXO:DAC_Y1") {
    field(DESC, "Set system clock DAC")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=MARBLE:PLL:SET_Y1")
    field(LOPR, "-32768")
    field(HOPR, "32767")
    field(DRVL, "-32768")
    field(DRVH, "32767")
}
record(longout, "$(P)MARBLE:VCXO:DAC_Y3") {
    field(DESC, "Set CLK20 adjust DAC")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=MARBLE:PLL:SET_Y3")
    field(LOPR, "-32768")
    field(HOPR, "32767")
    field(DRVL, "-32768")
    field(DRVH, "32767")
}

# FPGA:IO:select
# 0x00000001 - 0 = EVR, 1 = EVG
# 0x00000002 - 0 = P1 Empty, 1 = P1 Populated
record(bi, "$(P)FPGA:Mode") {
    field(DTYP, "FEED Register Read")
    field(INP,  "@name=$(NAME) reg=FPGA:IO:select")
    field(MASK, "0x1")
    field(ZNAM, "EVR Only")
    field(ONAM, "EVG/EVR")
    field(FLNK, "$(P)FMC:1")
}
record(bi, "$(P)FMC:1") {
    field(DESC, "FMC P1 conn.")
    field(DTYP, "FEED Register Read")
    field(INP,  "@name=$(NAME) reg=FPGA:IO:select wait=false")
    field(MASK, "0x2")
    field(ZNAM, "Empty")
    field(ONAM, "Clk Inp")
}

# Marble:VCXO:PPS
record(bi, "$(P)PPS:Ok") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MARBLE:VCXO:PPS CP")
    field(MASK, "0x80000000")
    field(ZNAM, "Invalid")
    field(ZSV , "MAJOR")
    field(ONAM, "Ok")
}
record(mbbi, "$(P)PPS:Src") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MARBLE:VCXO:PPS CP")
    # 0x40000000 - source 3 valid (recovered/internal)
    # 0x20000000 - source 2 valid (PMOD)
    # 0x10000000 - source 1 valid (FMC)
    field(SHFT, "28")
    field(NOBT, "3")
    field(ZRVL, "0")
    field(ZRST, "NO PPS")
    field(ZRSV, "MAJOR")
    field(ONVL, "1")
    field(ONST, "FMC1")
    field(TWVL, "2")
    field(TWST, "PMOD")
    field(THVL, "4")
    field(THST, "Rcv/Int")
    field(UNSV, "MAJOR")
}
record(bi, "$(P)PPS:Tgl") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MARBLE:VCXO:PPS CP")
    field(MASK, "0x08000000")
    field(ZNAM, "X")
    field(ONAM, "+")
}
record(calc, "$(P)PPS:IErr") {
    field(DESC, "PPS period error")
    field(INPA, "$(P)MARBLE:VCXO:PPS CP")
    field(INPB, "0x07ffffff")
    field(INPC, "8") # tick period (ns)
    field(INPD, "1e9") # expected period (ns)
    field(CALC, "(A&B)*C-D")
    field(EGU , "ns")
    field(HIGH, "24")
    field(LOW , "-24")
    field(HSV , "MAJOR")
    field(LSV , "MAJOR")
}

# MARBLE:VCXO:ASR
record(calc, "$(P)PPS:Jtr") {
    field(DESC, "PPS Jitter")
    field(INPA, "$(P)MARBLE:VCXO:ASR CP")
    field(INPB, "0xffff0000")
    field(CALC, "(A&B)>>16")
    field(EGU , "ns")
}
record(calc, "$(P)PPS:DAC") {
    field(DESC, "PPS DAC RBV")
    field(INPA, "$(P)MARBLE:VCXO:ASR CP")
    field(INPB, "0xffff")
    field(CALC, "A&B")
    field(EGU , "arb")
}

# MARBLE:VCXO:SR
record(bi, "$(P)PPS:Lck") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MARBLE:VCXO:SR CP")
    field(MASK, "0x80000000")
    field(ZNAM, "Open")
    field(ZSV , "MAJOR")
    field(ONAM, "Lock")
}
record(bi, "$(P)PPS:Act") {
    field(DESC, "PLL Activity")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MARBLE:VCXO:SR CP")
    field(MASK, "0x40000000")
    field(ZNAM, "X")
    field(ONAM, "+")
}
record(bi, "$(P)PPS:Ena") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MARBLE:VCXO:SR CP")
    field(MASK, "0x20000000")
    field(ZNAM, "Opened")
    field(ZSV , "MAJOR")
    field(ONAM, "Closed")
}
record(bi, "$(P)PPS:JtrH") {
    field(DESC, "PLL Jitter Est")
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MARBLE:VCXO:SR CP")
    field(MASK, "0x10000000")
    field(ZNAM, "Low")
    field(ONAM, "High")
    field(OSV , "MINOR")
}
record(calc, "$(P)PPS:Err") {
    field(DESC, "PPS Jitter")
    field(INPA, "$(P)MARBLE:VCXO:SR CP")
    field(INPB, "0x00ffffff")
    field(INPC, "0xff800000")
    # D - before sign extend
    field(CALC, "D:=A&B;D&C?D|C:D")
    field(EGU , "ns")
}

# MGT:clkStatus
record(bi, "$(P)MGT:Q1:LCK") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MGT:clkStatus CP")
    field(MASK, "0x08000000")
    field(ZNAM, "Err")
    field(ZSV , "MAJOR")
    field(ONAM, "Lck")
}
record(bi, "$(P)MGT:Q1:LST") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MGT:clkStatus CP")
    field(MASK, "0x04000000")
    field(ZNAM, "Pres")
    field(ONAM, "Lost")
    field(OSV , "MAJOR")
}
record(bi, "$(P)MGT:Q2:LCK") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MGT:clkStatus CP")
    field(MASK, "0x02000000")
    field(ZNAM, "Err")
    field(ZSV , "MAJOR")
    field(ONAM, "Lck")
}
record(bi, "$(P)MGT:Q2:LST") {
    field(DTYP, "Raw Soft Channel")
    field(INP , "$(P)MGT:clkStatus CP")
    field(MASK, "0x01000000")
    field(ZNAM, "Pres")
    field(ONAM, "Lost")
    field(OSV , "MAJOR")
}
