record(ai, "$(P)$(REG)") {
    field(DESC, "$(DESC)")
    field(DTYP, "FEED Register Read")
    field(INP,  "@name=$(NAME) reg=$(REG)")
    field(SCAN, "1 second")
    field(PREC, "$(PREC)")
    field(LINR, "LINEAR")
    field(ESLO, "$(ESLO)")
    field(EOFF, "$(EOFF)")
    field(EGU,  "$(EGU)")
    field(ADEL, "$(ADEL=0)")
    field(LOLO, "$(LOLO)")
    field(LOW,  "$(LOW)")
    field(HIGH, "$(HIGH)")
    field(HIHI, "$(HIHI)")
    field(LLSV, "MAJOR")
    field(LSV,  "MINOR")
    field(HSV,  "MINOR")
    field(HHSV, "MAJOR")
}
