record(longin, "$(P)$(REG)") {
    field(DESC, "$(DESC)")
    field(DTYP, "FEED Register Read")
    field(INP,  "@name=$(NAME) reg=$(REG)")
    field(SCAN, "1 second")
    field(TSE,  "-2")
    field(EGU,  "$(EGU)")
    field(LOLO, "$(LOLO)")
    field(LOW,  "$(LOW)")
    field(HIGH, "$(HIGH)")
    field(HIHI, "$(HIHI)")
    field(LLSV, "$(LLSV)")
    field(LSV,  "$(LSV)")
    field(HSV,  "$(HSV)")
    field(HHSV, "$(HHSV)")
}
